  [Desktop Entry]
  Name=Inflation Calculator
  Comment=A simple way to view the impact of inflation. Built in Flutter.
  Exec=super-cool-app 
  Icon=${SNAP}/meta/gui/friedman.png # replace name to your app name
  Terminal=false
  Type=Application
  Categories=Finance; #adjust accordingly your snap category
