[Desktop Entry]
Name=Inflation Calculator
Comment=A simple way to view the impact of inflation. Built in Flutter.
Exec=inflation-calculator
Icon=${SNAP}/meta/gui/friedman-icon.png
Terminal=false
Type=Application
Categories=Finance;
Keywords=Finance;
StartupNotify=false

