[Desktop Entry]
Name=Inflation Calculator
Comment=A simple way to view the impact of inflation. Built in Flutter.
Exec=inflation-Calculator %U 
Icon=${SNAP}/meta/gui/friedman-icon.png
Terminal=false
Type=Application
Categories=Finance; #adjust accordingly your snap category
Keywords=Finance;
StartupNotify=false

